.lg-react-element {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	width: 100%;
	gap: 40px;
}

@media screen and (max-width: 1023px) {
	.lg-react-element {
		grid-template-columns: 1fr;
		justify-items: center;
	}
}


@media screen and (min-width: 1024px) and (max-width: 1439px) {
	.lg-react-element {
		grid-template-columns: 1fr 1fr;
		justify-items: center;
	}
}

@media screen and (min-width: 1440px) and (max-width: 2559px) {
	.lg-react-element {
		grid-template-columns: 1fr 1fr 1fr;
		justify-items: center;
	}
}