.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    124deg,
    #dd00f3,
    #dd00f3,
    #dd00f3,
    #62006b,
    #2e006b,
    #0400ff,
    #00e1ff,
    #00e1ff
  );
  background-size: 1800% 1800%;
  -webkit-animation: rainbow 6s ease infinite;
  -z-animation: rainbow 6s ease infinite;
  -o-animation: rainbow 6s ease infinite;
  animation: rainbow 6s ease infinite;
  height: 100vh;

  @media screen and (max-width: 1023px) {
    background-size: 250% 250%;
    animation: rainbow 3s ease infinite;
  }

  @keyframes rainbow {
    0% {
      background-position: 0% 82%;
    }

    50% {
      background-position: 100% 19%;
    }

    100% {
      background-position: 0% 82%;
    }
  }

  h2 {
    font-size: 100px;
    margin: 0;

    @media screen and (max-width: 1023px) {
      font-size: 50px;
    }
  }

  .loading {
    margin: 40px 0;
  }

  h3 {
    font-size: 25px;
    line-height: 40px;

    @media screen and (max-width: 1023px) {
      font-size: 20px;
      line-height: 60px;
    }
  }
}
